<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
		<title th:text="#{home.title}">Videoshop</title>
	</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="#{home.title}">Videoshop</h1>
		</header>
		<nav th:include="navigation :: navigation">
			<ul>
				<li><a href="register.html">Registrierung</a></li>
				<li><a href="orders.html">Bestellungen</a></li>
				<li><a href="stock.html">Lager</a></li>
				<li><a href="catalog.html">Dvd Katalog</a></li>
				<li><a href="catalog.html">Blu-ray Katalog</a></li>
				<li><a href="basket.html">Warenkorb</a></li>
				<li><a href="wishlist.html">Wunschliste</a></li>
				<li class="loginlogout"><a href="@{/login}">Login</a></li>
				<li class="loginlogout"><a href="@{/logout}">Logout</a></li>
			</ul>
		</nav>
		
		<div class="content">
<div th:unless="${wishlist.empty}">
				<table>
					<caption th:text="#{wishlist.title}">Wishlist</caption>
					<thead>
						<tr>
							<th th:text="#{wishlist.movieTitle}">Titel</th>
							<th th:text="#{wishlist.price}">Preis</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">

						<tr th:each="item : ${wishlist} ">
							<td th:text="${item.productName}">Last Action Hero</td>
							<td th:text="${item.price}">10 Euro</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>10 Euro</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>10 Euro</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>10 Euro</td>
						</tr>

					</tbody>
				</table>
				</div>
							<p th:if="${wishlist.empty}" th:text="#{wishlist.empty}">Ihre Wunschliste enthält keine Titel</p>
				
				</div>	
				</div>
</body>
</html>